# -*- coding: utf-8 -*-
# Adapted from https://github.com/python-poetry/poetry/blob/master/get-poetry.py

import sys
import os

lib = os.path.normpath(os.path.join(os.path.realpath(__file__), "..", "src"))
vendors = os.path.join(lib, "poetry", "_vendor")
current_vendors = os.path.join(
    vendors, "py{}".format(".".join(str(v) for v in sys.version_info[:2]))
)

sys.path.insert(0, lib)
sys.path.insert(0, current_vendors)

if __name__ == "__main__":
    from poetry.console import main
    main()
